{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <div class="example-wrapper">

        {% if users|length > 0 %}
            <ul>
                {% for user in users %}
                    {% include './components/user.html.twig' with {'user': user} %}
                {% endfor %}
            </ul>
        {% else %}
            <p>pas de tickets</p>
        {% endif %}
    </div>
{% endblock %}
