{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        {% if tickets|length > 0 %}
            <ul>
                {% for ticket in tickets %}
                    {% include './components/ticket.twig' with {'ticket': ticket} %}
                {% endfor %}
            </ul>
        {% else %}
            <p>pas de tickets</p>
        {% endif %}
    </div>
{% endblock %}
