@import "bootstrap";

*{
    list-style: none;
}

a, a:link, a:hover {
    color: inherit;
    text-decoration: inherit;
}


/*
nav, .stat, .right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stat ul{
    display: flex;
    flex-direction: column;
    height: 5rem;
}

.right{
    gap: 10px;
}
*/