@import "bootstrap";

*{
    list-style: none;
}

body {
    background-color: lightgray;
}

/*
nav, .stat, .right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stat ul{
    display: flex;
    flex-direction: column;
    height: 5rem;
}

.right{
    gap: 10px;
}
*/